.body {
  background-color: darkcyan;
  width: 100vw;
  height: 100vh;
  display: flex;
}

* {
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.card {
  width: 50vw;
  height: 90vh;
  box-shadow: 30px -10px teal;

}
