
* {
  font-size: 1rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.card {
  box-shadow: 30px -10px teal;

}


.body
{
  background-color: rgb(0, 139, 139);
  width: 100vw;
  height: 100vh;
}
/* Estilização do ícone de olho */
.input-group-append .btn {
  cursor: pointer;
}

/* Esconde a borda do ícone quando o campo de senha está em foco */
.input-group-append .btn:focus {
  outline: none;
  box-shadow: none;
}
