<div class="page">
  <div class="row">
    <div class="col">
      <h1>Clientes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Total
        </div>
        <div class="card-body">
          24
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Ativos
        </div>
        <div class="card-body">
          12
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Inativos
        </div>
        <div class="card-body">
          12
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h1>Faturamento</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Total
        </div>
        <div class="card-body">
          R$ 120.000,65
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Entrada
        </div>
        <div class="card-body">
          R$ 72.358,30
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Saida
        </div>
        <div class="card-body">
          R$ 47.642,35
        </div>
      </div>
    </div>
  </div>
</div>
